body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}

#reset-btn{
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background:#3B53A2;
    font-size: 25px;
    color: #fff;
    z-index: 100;
    padding: 0;
}

#logo{
    position: absolute;
    left: 15px;
    top: 15px;
}

svg{
    pointer-events: none;
}